    .loginTital {
        font-style: italic;
        font-size: medium;
        font-weight: bolder;
        color: rgb(221, 91, 27);
      }
      .loginContainer{
        width: 300px;
        background-color: rgb(196, 195, 195);
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
      }
      input[type="submit"]:hover{
        background-color: blue;
      }
      input[type="submit"]{
        width: 100%;
        background-color: azure;
        padding: 5px;
        border-radius: 4px
      }
      input[type="text"],[type="password"],[type="email"],[type="date"]{
        width: 100%;
        padding: 5px;
        border-radius: 4px;
        cursor: pointer;
      }
      body{
        display: flex;
        background-color:white;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }